body {
  margin: 0;
  padding: 0;
  font-family: "Kavoon", serif;
}

.div-header-index {
  color: white;
  background-image: url('../assets/fundo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 520px;
}

.div-container-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  background-color: #220101;
}

.div-logo-navbar a {
  font-size: 32px;
  color: #ffffff;
  text-decoration: none;
}

.div-navbar {
  display: flex;
  align-items: center;
  gap: 40px;
}

.div-navbar a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.div-imagem-index {
  margin-top: 9.5%;
  margin-left: -6%;            
  width: 45%; 
  position: absolute;
}

.div-traco-index {
  background-color: #220101;
  width: 100%;
  height: 20px;
}

.div-slogan-index {
  background-color: #220101;
}

.div-slogan-index h2 {
  margin: 0;
  font-size: 32px;
}

.div-slogan-index p {
  margin-top: 20px;
  font-size: 20px;
}

.div-header-index .div-slogan-index {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 60%;
  padding-top: 150px;
  color: rgb(143, 141, 17);
  border-width: 150px;
}

