body {
  margin: 0;
  padding: 0;
  font-family: Verdana
}

.div-header-index {
  color: white;
  font-weight: bold;
  background-color: #221001;
  height: 70px;
}

.div-container-navbar {
  display: flex;
  gap: 28%;
  align-items: center;
  padding: 15px 5%;
}

.div-logo-navbar a {
  font-size: 36px;
  color: #ffffff;
  text-decoration: none;
}

.div-navbar {
  display: flex;
  align-items: center;
  gap: 40px;
}

.div-navbar a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.div-imagem-index {
  margin-top: 12%;
  margin-left: -6%;            
  width: 85%;
  position: absolute;
}

.flex-item-index {
  width: 50%;
  height: 100px;
  display: flex;
  align-items: center;
}

.div-boxPai-index {
  display: flex;
}

.div-container-box-1 {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.div-container-box-2 {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.box1-index {
  background-image: url("../assets/fundo16.jpg");
  background-size: cover;
  background-position: center;
  height: 60%;
  position: absolute;
}

.box2-index {
  background-color: #221001;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  position: absolute;
}

.div-slogan-index h2 {
  margin: 0;
  font-size: 36px;
}

.div-slogan-index p {
  font-size: 20px;
}

.div-slogan-index {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10%;
  padding-top: 10%;
  color: #ffffff;
  border-width: 150px;
}

/* FF9029 */