body {
  margin: 0;
  padding: 0;
  font-family: "Kavoon", serif;
}

.div-header-index {
  color: white;
  background-image: url('../assets/fundo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 480px;
}

.div-container-navbar {
  display: flex;
  align-items: center;
  padding: 10px 5%;
  background-color: #220101;
}

.div-container-navbar .div-navbar {
  padding-left: 19%;
}

.div-logo-navbar a {
  font-size: 32px;
  color: #ffffff;
  text-decoration: none;
}

.div-navbar {
  display: flex;
  align-items: center;
  gap: 40px;
}

.div-navbar a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.div-imagem-index {
  margin-top: 9.5%;
  margin-left: -2%;            
  width: 40%; 
  position: absolute;
}

.div-traco-index {
  background-color: #220101;
  width: 100%;
  height: 20px;
}

.div-card-inicio-index {
  background-color: #220101;
  width: 30%;
  height: 20%;
  border-radius: 20px;
  position: absolute;
}

.div-slogan-index h2 {
  margin: 0;
  font-size: 28px;
  padding-left: 20px;
  padding-top: 20px;
}

.div-slogan-index p {
  margin-top: 20px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.div-header-index .div-slogan-index {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 60%;
  padding-top: 150px;
  color: #ffffff;
  border-width: 150px;
}

.div-container-index {
  color: white;
}

.div-fundo-index {
  background-color: #000000;
  height: 1500px;
}
